* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(10,10,10);
}
:root {
	--size: 10%;
}

/* Container */
.container {
	width: 100vw;
	height: 100dvh;
	padding:32px;
}

/* Content */
.content {
	width: 100%;
	height: 100%;
	padding: 40px;
	overflow-y: scroll;
	display: flex;
	align-items: start;
	justify-content: start;
	align-content: start;
	justify-items: start;
	flex-wrap: wrap;
}
.content * {
	width: var(--size);
	mix-blend-mode: lighten;
	/* aspect-ratio: 1/1; */
	object-fit: cover;
}
.line-break {
	flex-basis: 100%;
	height: 0;
}

/* Blinking cursor */
#cursor {
	animation: cursor .5s steps(1) infinite alternate;
	background-color: rgb(43, 255, 0);
	width: calc(var(--size) / 50);
	height: calc(2 * var(--size));
}
@keyframes cursor {
	0% {
		opacity: .8;
	}
	50% {
		opacity: 0;
	}
}

/* Controls */
.controls {
	position: fixed;
	width: 100vh;
	right: 40px;
	top: 40px;
	gap: 20px;
	display: flex;
	background-color: aqua;
	
}
.controls button {
	font-size: 40px;
	border: unset;
	background-color: unset;
	color: white;
	cursor: hand;
	width: 40px;
	height: 40px;
	display: flex;
	fill: white;
	align-items: center;
	justify-content: center;
	opacity: 1;
	transition: .2s;
}
.controls button svg {
	width: 100%;
	height: 100%;
}
.controls button:hover {
	opacity: .8;
}
.controls button:active {
	opacity: .5;
}
.controls button:focus {
	outline: none;
}

/* Add this CSS for the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #f0f0f0e1;
  margin: 7% auto;
  padding: 25px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 60%;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}